.auth_page {
  background-color: var(--auth-background);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_form_container {
  min-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   height: 700px;
  border: 2px solid #4c372b;
  border-radius: 4px;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 2px 2px #4c372b;
  background-color: #fff;
}

.register_form {
  width: 90%;
  margin-top: 20px;
}
.top_register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
  }
}

.register_form_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.input_form {
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}
